
@media screen and (max-width:801px) and (orientation:portrait) {
  
  header {
    top:10px;
    left:10px;
    width: 100%;
    padding:0 20px 0 0;
    
    .sharingiscaring {position:fixed;bottom:5px;left:5px; }
    
    .fb-like {
        position: relative;
        top: -4px;
    }
    
    .logo {
    padding:0 ;
    float: left;
    width:280px;
    p {display: none;}

    
}//logo

.new-link {float: right;clear:right;padding:0; }
.new {padding: 15px 20px;}
    
}//header 
} //ipad portrait


html.touch {
@media all and (orientation:landscape) {
 
 .mobile-alert {
   display:block;
   width: 100%;
   height: 100%;
   background:#333;
   position:fixed;
   z-index:99999;
   
   .mobile-alert-msg {
     @include absolute-center-absolute;
     width: 263px;
     height: 253px;
     background:url("../images/dist/flip.png") center bottom no-repeat;
     background-size:80%;
     text-align: center;
     
     &:after {
       color:white;
       content:"please flip your device to portrait"
     }
   }
 } 
}
}//html touch

@media all and (max-width:600px) and (orientation:portrait) {
  
  header {
    height:$mobile-header-h;
    position: static;
    @include clearfix;
    padding:5px 5px 0;
    background:black;
    
    .sharingiscaring {float: right; display: none; }
    
    .fb-like {
        position: relative;
        top: -4px;
    }
    
    .logo {
    width: auto;
    padding:3px 0 0 0;
    float: left;
    
    p {display: none;}
    img {width: 128px;}
    
}//logo

.new-link {float: right;padding:0; }

.new {
    font-size: 14px;
    padding: 3px 10px;
    line-height:24px;
    border-bottom-width:3px;
   &:hover {
     background: white;
     border-bottom-width:3px;
     border-bottom-color:darken(#fff, 20%);
   }
}
    
}//header 

.page {
      height: calc(100% - #{$mobile-footer-h}) !important;
}

.bottom-bar,
.status-bar {display: none; }

.phone {
  background-image:none !important;
  background-size:auto !important;
      height: calc(100% - 42px);
}
  .wa-container {
  position: static;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
        height: 100% !important;
  }

footer {
    position: static;
    bottom: auto;
    right: auto;
    line-height: 16px;
    width: 100%;
    background:black;
    padding:5px;
    font-size:12px;
    height:$mobile-footer-h;
    br {display: none;}
}

.user-name {
    width: 125px !important;
}
  
  
}//max width portrait 600px

    
html.no-csscalc {
@media (max-width: 800px) and (orientation: portrait){
  body {
    background-image: none;
    background-color:black;
  }
  .page,
  .phone {height:auto}
  .wa-container .chat-window .conversation {height:480px}
  .wrapperchat {
    height:auto
}

.page.small-device .wa-container .chat-window {
    height:auto
}

.chat-root, .chat-loader {
    height:auto
}

.wa-container .chat-window .textarea {
  position:static;
  margin:0 0 10px;
}
  
}

} // no css calc








@media all and (max-width:600px) and (orientation:portrait) {

.page {
    .wrapperchat {
    height: calc(100% - 1px) !important;
}
}

.page.small-device {
  .wrapperchat {
    height: calc(100% - 58px) !important;
}
}

}


