body.nexus6 {
  
  .phone {background-image: url("../images/dist/nexus6.png");background-size:auto 799px}
  
  .wa-container {
    width: 382px;
    height: 681px;
    padding: 6px 0 0;
    
    .chat-window {height: calc(100% - 55px);}
  }
  
  .wrapperchat {
    height: calc(100% - 69px);
} 
}

body.s6 {
  
  .phone {background-image: url("../images/dist/s6.png");}
  
  .wa-container {
    width: 368px;
    height: 648px;
    padding: 0;
      
      .chat-window {height: calc(100% - -2px);}
  }
  
  .bottom-bar {
    display: none;
  } 
}

body.nexus5 {
  .wa-container .user-bar .user-name {width: 163px;}
  .phone {background-image: url("../images/dist/nexus5.png");background-size:auto 772px;}
  
  .wa-container {
    width: 353px;
    height: 633px;
    margin: -7px auto 0;
      
    .chat-window {height: calc(100% - 56px);}
  }
}

body.motoX {
  
  .phone {background-image: url("../images/dist/motox.png");}
  
  .wa-container {
    width: 368px;
    height: 663px;
    padding: 17px 0 0 0;
      
      .chat-window {    height: calc(100% - 56px);}
  }
  
  .wrapperchat {
    height: calc(100% - 68px);
}
}
